$cell-size: 100px;
$border-size: 1px;
$gap-size: 1px;
$padding-size: 10px;
$hover-shift: 20px;
$hover-color: #ffbfcb;
$bg-color: #eee;
$days-in-week: 7;
$cell-total: $cell-size + $border-size * 2;
$cells-width: $days-in-week * $cell-total;
$gaps-width: ($days-in-week - 1) * $gap-size;
$padding-total: $padding-size * 2;
$calendar-width: $cells-width + $gaps-width + $padding-total;
